<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40756926746-o23no80usmohui63b5up0ku7v7t6r3j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40756926746-o23no80usmohui63b5up0ku7v7t6r3j6</string>
	<key>API_KEY</key>
	<string>AIzaSyAKazS48xMFKzR96UI-qONCep4pcmejC4I</string>
	<key>GCM_SENDER_ID</key>
	<string>40756926746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.gustavo.flutterApplicationSvTeste</string>
	<key>PROJECT_ID</key>
	<string>sv-teste</string>
	<key>STORAGE_BUCKET</key>
	<string>sv-teste.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40756926746:ios:267195718be3a74c43b4a3</string>
</dict>
</plist>